div.area {
  width:100%;
  height:100%;
}

div.pedestrian {
  width:91px;
  height:300px;
  position:absolute;
  background-size:100% 100%;
  background-repeat:no-repeat;
  background-position: center bottom;
}
