.controls {
  margin:0 auto;
  padding:10px;
  background-color:#333;
  width:1024px;
  height:150px;
}

.controls .console {
  font-family:'Share Tech Mono', monospace;
  background-color:#000;
  color:#5de85d;
  width:25%;
  height:100%;
  font-size:0.8rem;
  letter-spacing:1px;
  padding:10px;
  border-radius:10px;
  border:3px solid gray;
  display:inline-block;
}

.controls .console p {
  margin:0px;
  margin-top:3px;
}

.controls .vertical_bar {
  display:inline-block;
  width:25px;
  text-align:center;
}

.controls .vertical_bar a {
  color:white;
  cursor:pointer;
}

.controls .vertical_bar a:hover {
  color:yellow;
}