
.object {
  position:absolute;
  cursor:pointer;
}

#object_inventory .bg {
  position: absolute;
  width: 90%;
  height: 90%;
  background: #fff;
  top: 5%;
  left: 5%;
  opacity: 0.9;
  border-radius: 15px;
  border: 3px solid #000;
  z-index:997;
}

#object_inventory .fg {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  padding:20px;
  z-index:998;
}

#object_inventory .fg header {
  position:relative;
  top:-10px;
  text-align:right;
}

#object_inventory .fg header i {
  cursor:pointer;
  color:#1bbb45;
}

#object_inventory .fg header i:hover {
  opacity:0.8;
}

#object_inventory .fg table {
  width:100%;
  border-collapse:collapse;
}

#object_inventory .fg table td {
  border: 1px solid #000;
  width:100px;
  height:100px;
}

#object_inventory figure {
  text-align:center;
  margin:0;
}
#object_inventory figure figcaption {
  margin-top:5px;
}
#object_inventory .objContents {
  width:25%;
  padding-right:10px;
  height:100%;
  overflow:hidden;
}

#object_inventory .item_container {
  text-align:center;
  cursor:move;
  width:100px;
  height:100px;
  margin:0 auto;
}
#object_inventory .item_container:hover {
  opacity:0.8;
}