* {
  box-sizing:border-box;
}
html, body {
  height:100%;
}

body {
  margin:0px;
  min-height:100%;
  font-family:Verdana,Tahoma,Geneva,sans-serif;
  font-size:18px;
}

.canvas-container {
  margin:0 auto;
}
.canvas-container.targeting {
  cursor:crosshair;
}
canvas {
  border:3px solid #333;
  margin:0 auto;
}