
* {
  box-sizing:border-box;
}
@font-face {
  font-family: dialog;
  src: url('../fonts/DigitalStripBB_Reg.otf');
}

html, body {
  margin:0px;
  padding:20px;
}

body {
  background-color:#fff;
  
}

main {
  width:1024px;
  height:768px;
  margin:0 auto;
  border:5px solid #000;
  position:relative; 
  border-top-left-radius:15px;
  border-top-right-radius:15px;
}

div.area {
  
  width:100%;
  height:100%;

}

div.area img {
  width:100%;
  height:100%;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
}

div.pc {
  width:94px;
  height:300px;
  position:absolute;
  left:400px;
  top:400px;
  background-image:url('../img/people/bum_default.png');
  background-size:100% 100%;
  background-repeat:no-repeat;
}

section.controls {
  width:1024px;
  height:100px;
  margin:0 auto;
  display:flex;
  align-items:center;
  justify-content:flex-end;
  padding:20px;
  background-color:#1bbb45;
  border:5px solid #000;
  border-top:none;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

section.controls .icon {
  height:70px;
  width:120px;
  opacity:0.8;
  cursor:pointer;
  background-color:#f5fffa;
  border-radius: 15px;
  border: 3px solid #000;
  padding:10px;
}
section.controls .icon:hover {
  opacity:1;
}

.speechContainer {
  position:absolute;

}
.speechBubble {
  font-family:dialog;
	 position: relative;
    padding: 15px;
    margin: 1em 0 3em;
    border: 5px solid #000;
    color: #333;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width:250px;
}
.speechBubble:before {
  content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #000 transparent;
    display: block;
    width: 0;
}
.speechBubble:after {
      content: "";
    position: absolute;
    bottom: -13px;
    left: 47px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}