
* {
  box-sizing:border-box;
}
@font-face {
  font-family: dialog;
  src: url('../fonts/DigitalStripBB_Reg.otf');
}

html, body {
  margin:0px;
  padding:20px;
  font-family:Tahoma, Geneva, sans-serif;
}

body {
  background-color:#fff;
  
}

main {
  width:1024px;
  height:768px;
  margin:0 auto;
  border:5px solid #000;
  position:relative; 
  border-top-left-radius:15px;
  border-top-right-radius:15px;
}

div.area {
  
  width:100%;
  height:100%;

}

div.area img {
  width:100%;
  height:100%;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
}

div.pc {
  width:94px;
  height:300px;
  position:absolute;
  background-image:url('../img/people/bum_default.png');
  background-size:100% 100%;
  background-repeat:no-repeat;
  background-position: center bottom;
}


section.controls {
  width:1024px;
  height:100px;
  margin:0 auto;
  display:flex;
  align-items:center;
  justify-content:flex-end;
  padding:20px;
  background-color:#1bbb45;
  border:5px solid #000;
  border-top:none;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

section.controls .icon {
  height:70px;
  width:120px;
  opacity:0.8;
  cursor:pointer;
  background-color:#f5fffa;
  border-radius: 15px;
  border: 3px solid #000;
  padding:10px;
}
section.controls .icon:hover {
  opacity:1;
}

.speechContainer {
  position:absolute;
  opacity:0;
}
.speechBubble {
  font-family:dialog;
	position: relative;
  padding: 15px;
  border: 5px solid #000;
  color: #333;
  background: #fff;
  border-radius: 10px;
  max-width:250px;
}
.speechBubble:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 40px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #000 transparent;
  display: block;
  width: 0;
}
.speechBubble:after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 47px;
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: #fff transparent;
  display: block;
  width: 0;
}

.object {
  position:absolute;
  cursor:pointer;
}

#player_inventory .bg, #object_inventory .bg {
  position: absolute;
  width: 90%;
  height: 90%;
  background: #fff;
  top: 5%;
  left: 5%;
  opacity: 0.9;
  border-radius: 15px;
  border: 3px solid #000;
}
#player_inventory .fg, #object_inventory .fg {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  padding:20px;
  z-index:100;
}
#player_inventory .fg header, #object_inventory .fg header {
  position:relative;
  top:-10px;
  text-align:right;
}
#player_inventory .fg header i, #object_inventory .fg header i {
  cursor:pointer;
  color:#1bbb45;
}
#player_inventory .fg header i:hover, #object_inventory .fg header i:hover {
  opacity:0.8;
}
#player_inventory, #object_inventory .fg table {
  width:100%;
  border-collapse:collapse;
}
#player_inventory .fg table td, #object_inventory .fg table td {
  border: 1px solid #000;
  width:100px;
  height:100px;
}

#object_inventory figure {
  text-align:center;
  margin:0;
}
#object_inventory figure figcaption {
  margin-top:5px;
}
#object_inventory .objContents {
  width:25%;
  padding-right:10px;
  height:100%;
  overflow:hidden;
}

#object_inventory .item_container {
  text-align:center;
  cursor:move;
  width:100px;
  height:100px;
  margin:0 auto;
}
#object_inventory .item_container:hover {
  opacity:0.8;
}