div.pc {
  width:94px;
  height:300px;
  position:absolute;
  background-image:url('../img/people/bum_default.png');
  background-size:100% 100%;
  background-repeat:no-repeat;
  background-position: center bottom;
  cursor:pointer;
}

#player_inventory .bg {
  position: absolute;
  width: 90%;
  height: 90%;
  background: #fff;
  top: 5%;
  left: 5%;
  border-radius: 15px;
  border: 3px solid #000;
  z-index:997;
}
#player_inventory .fg {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  padding:20px;
  z-index:998;
  display:flex;
  flex-flow:row;
  flex-wrap:wrap;
  align-content:flex-start;
}
#player_inventory .fg header {
  position:relative;
  top:-10px;
  text-align:right;
  height:25px;
  flex-basis:100%;
  width:100%;
  flex-shrink:0;
}
#player_inventory .fg header i {
  cursor:pointer;
  color:#1bbb45;
}
#player_inventory .fg header i:hover {
  opacity:0.8;
}
#player_inventory .fg table {
  flex-basis:80%;
  width:80%;
  border-collapse:collapse;
}
#player_inventory .fg table td {
  border: 1px solid #000;
  width:100px;
  height:100px;
  max-width:100px;
  max-height:100px;
  position:relative;
}

#player_inventory .item_container {
  text-align:center;
  cursor:move;
  width:100px;
  height:100px;
  margin:0 auto;
  position:relative;
}
#player_inventory .item_container:hover {
 
}

#player_inventory .player_equip {
  flex-basis:20%;
}

#player_inventory menu {
  position:absolute;
  margin:0px;
  display;none;
  background-color:#f5deb3;
  padding:5px;
  z-index:999;
}

#player_inventory menu menuitem {
  display:block;
  text-align:left;
  padding-left:5px;
  padding-right:5px;
}
#player_inventory menu menuitem:hover {
  color:#b18434;
}