.sheet_holder {
  position: absolute;
  top: 0px;
  width: 1024px;
  height: 768px;
  left: 50%;
  margin-left: -512px;
  background-color:gray;
  opacity:0.9;
}

.sheet {
  margin: 0 auto;
  position: relative;
  top: 41.5px;
  width: 900;
  height: 675;
  background-color: #695151;
  padding: 20px;
  vertical-align: top;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  border-radius:15px;
  box-shadow: 4px 4px #6b6b6b;
}

.sheet > header {
  flex:1 0 100%;
  height: 25px;
  text-align: right;
}
.sheet > header a {
  cursor:pointer;
  color:#fff;
  font-size:1.5rem;
}
.sheet > header a:hover {
  opacity:0.8;
}
.sheet .base_stats {
  display:flex;
  flex: 1 0 33.3%;
  margin-top:-100px;
}
.sheet .base_stats p:nth-child(1) {
  margin-top:0px;
}
.sheet .base_stats .labels {
  font-size:1rem;
  color:#fff;
  letter-spacing:1px;
  display:inline-block;
  vertical-align:top;
}

.sheet .base_stats .labels .first {
  font-size:2rem;
  color:#fbfbc2;
  margin-right:2px;
  display:inline-block;
  width:50px;
  text-align:center;
  border:1px solid #fbfbc2;
  padding:5px;
  border-radius: 10px;
}

.sheet .base_stats .values {
  font-size:1rem;
  color:green;
  letter-spacing:1px;
  display:inline-block;
  vertical-align:top;
}

.sheet .base_stats .values .box {
  font-size:2rem;
  color:green;
  margin-right:2px;
  display:inline-block;
  width:50px;
  text-align:center;
  border:1px solid #c5c5c5;
  padding:5px;
  background-color: #000;
  border-radius: 10px;
}

.sheet .skills {
  color:#FFF;
  display:flex;
  flex: 1 0 33.3%;
  flex-direction: column;
  margin-top:-100px;
  font-size:0.8rem;
}

.sheet .skills .value,
.sheet .stats_info .value {
  margin-right:10px;
  color:#fbfbc2;
  float:right;
}

.sheet .skills p,
.sheet .stats_info p {
  margin:2px;
}

.sheet .stats_info {
  font-size:0.8rem;
  color:#FFF;
  display:flex;
  flex-direction:column;
  flex: 1 0 33.3%;
  margin-top:-100px;
}