<div class="ui_menu">
  <div class="ui_icons">
    <div>
      <img title="look" data-action="look" src="img/icons/look.png">
      <img title="take" data-action="take" src="img/icons/take.png" style="top:-35px;">
      <img title="speak" data-action="speak" src="img/icons/speak.png">
    </div>
    <div>
      <img title="smell" data-action="smell" src="img/icons/smell.png" style="left:10px;">
      <img title="touch" data-action="touch" src="img/icons/touch.png" style="top:-35px;">
      <img title="taste" data-action="taste" src="img/icons/taste.png" style="left:-10px;">
    </div>
  </div>
</div>