<div id="player_inventory">
  <div class="bg"></div>
  <div class="fg">
    <header>
      <i class="fa fa-window-close fa-lg"></i>
    </header>
    <table>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="player_equip">
      <figure></figure>
    </div>
    <div class="action_results"></div>
    <div class="action_drop" title="drop item"><i class="fa fa-dropbox fa-5x"></i></div>
  </div>
</div>