<div class="sheet">
  <div class="base_stats">
    <div class="labels">
      <p>
        <span class="first">F</span>ortitude
      </p>
      <p>
        <span class="first">A</span>ttention
      </p>
      <p>
        <span class="first">C</span>harisma
      </p>
      <p>
        <span class="first">I</span>ntelligence
      </p>
      <p>
        <span class="first">A</span>gility
      </p>
      <p>
        <span class="first">L</span>uck
      </p>
      <p>
        <span class="first">S</span>trength
      </p>
    </div>
    <div class="values">
      <p>
        <span class="box">5</span>
      </p>
      <p>
        <span class="box">5</span>
      </p>
      <p>
        <span class="box">5</span>
      </p>
      <p>
        <span class="box">5</span>
      </p>
      <p>
        <span class="box">5</span>
      </p>
      <p>
        <span class="box">5</span>
      </p>
      <p>
        <span class="box">5</span>
      </p>
    </div>
  </div>
  <div class="skills">
    <p>Beggin'<span class="value">50%</span></p>
    <p>Shootin'</p>
    <p>Scrappin'</p>
    <p>Wrappin'</p>
    <p>Fixin'</p>
    <p>Learnin'</p>
    <p>Rantin'</p>
    <p>Shittin'</p>
    <p>Sleepin'</p>
  </div>
</div>