<div class="sheet">
  <header>
    <a>
      <i class="far fa-times-circle"></i>
    </a>
  </header>
  <div class="base_stats">
    <div class="labels">
      <p>
        <span class="first">F</span>ortitude
      </p>
      <p>
        <span class="first">A</span>ttention
      </p>
      <p>
        <span class="first">C</span>harisma
      </p>
      <p>
        <span class="first">I</span>ntelligence
      </p>
      <p>
        <span class="first">A</span>gility
      </p>
      <p>
        <span class="first">L</span>uck
      </p>
      <p>
        <span class="first">S</span>trength
      </p>
    </div>
    <div class="values">
      <p>
        <span class="box"></span>
      </p>
      <p>
        <span class="box"></span>
      </p>
      <p>
        <span class="box"></span>
      </p>
      <p>
        <span class="box"></span>
      </p>
      <p>
        <span class="box"></span>
      </p>
      <p>
        <span class="box"></span>
      </p>
      <p>
        <span class="box"></span>
      </p>
    </div>
  </div>
  <div class="stats_info">
    <p>Tolerance<span class="value"></span></p>
    <p>Movement<span class="value"></span></p>
    <p>Smell<span class="value"></span></p>
  </div>
  <div class="skills">
    <p>Beggin'<span class="value"></span></p>
    <p>Shootin'<span class="value"></span></p>
    <p>Scrappin'<span class="value"></span></p>
    <p>Wrappin'<span class="value"></span></p>
    <p>Fixin'<span class="value"></span></p>
    <p>Learnin'<span class="value"></span></p>
    <p>Rantin'<span class="value"></span></p>
    <p>Shittin'<span class="value"></span></p>
    <p>Sleepin'<span class="value"></span></p>
  </div>
</div>